<div class="container centre">
    <form action="/weather" method="POST">
      <h3 class="ask">Enter a city</h3>
      <h6 class="city-not-found">{{message}}</h6>
      <input type="text" name="city" id="city" value="Montreal">
      <input type="submit" value="GO!" class="btn go">
    </form>
  </div>